<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <appSettings>
    <!--配置反射-->
    <add key="SQLServerDAL" value="informix.SQLServerDAL"/>
    <add key="OracleDAL" value="informix.OracleDAL"/>
    <add key="MySqlDAL" value="informix.MySqlDAL"/>

    <!--当前使用数据库-->
    <add key="DBType" value="Oracle"/>
    <!--Oracle Client连接字符串-->
    <add key="Oracle" value="data source = (DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=glxt)));user id=informix; password=gmgl;persist security info=false;"/>
    <!--SQLServer链接字符串-->
    <add key="MsSql" value=""/>
    <!--MySql链接字符串-->
    <add key="MySql" value=""/>
    <!--加密字符串-->
    <add key="Encrypt" value="informix"/>
  </appSettings>
  <!--配置log4net日志-->
  <log4net>
    <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
    <!-- Set root logger level to ERROR and its appenders -->
    <root>
      <level value="ALL" />
      <appender-ref ref="SysAppender" />
    </root>
    <!-- Print only messages of level DEBUG or above in the packages -->
    <logger name="WebLogger">
      <level value="DEBUG" />
    </logger>
    <appender name="SysAppender" type="log4net.Appender.RollingFileAppender,log4net">
      <param name="File" value="log/" />
      <param name="AppendToFile" value="true" />
      <param name="RollingStyle" value="Date" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <appender name="consoleApp" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>
  </log4net>
  <system.web>
    <compilation debug="true"/>
  </system.web>
</configuration>