<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>左侧目录</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <script language="JavaScript" src="../Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/Common.js" type="text/javascript"></script>
    <script src="~/js/left.js"></script>
</head>
<body style="background:#fff3e1;">
    <div class="lefttop"><span></span>通讯录</div>
    <dl class="leftmenu"></dl>
</body>
</html>
